* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.clock {
  font-family: "Courier New", monospace;
  font-size: 80px;
  color: rgb(0, 217, 255);
  background: #111;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 217, 255);
}

.countdown {
  font-family: "Courier New", monospace;
  font-size: 40px;
  color: red;
  margin-top: 20px;
}
/* slider */
#left-arrow,
#right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10; /* 👈 arrows on top! */
}

#left-arrow {
  left: 20px;
}
#right-arrow {
  right: 20px;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 1;
}

.slide-item.active {
  opacity: 1;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-item.active {
  opacity: 1;
}

.pgn-btns {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10; /* 👈 dots on top! */
}

.pgn-btns button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background: #26ec08;
  opacity: 0.5;
}

.pgn-btns button.active {
  opacity: 1;
  background: rgb(238, 255, 0);
}
